# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp
# C extensions
*.so

# Cache dir (large files).
data_reproduce_figs/cache/*npz
data_reproduce_figs/cache/*.nc

# large_files dir (even larger files that are too big for git lfs).
data_reproduce_figs/large_files/*nc
data_reproduce_figs/large_files/*npz
