# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp
# C extensions
*.so

# Cache dir (large files).
data_reproduce_figs/cache/*npz
data_reproduce_figs/cache/*.nc

# large_files dir (even larger files that are too big for git lfs).
data_reproduce_figs/large_files/*nc
data_reproduce_figs/large_files/*npz

# Other large files [O(100 MB)], replaced with links for download (listed on data_reproduce_figs/large_files/README.md).
data_reproduce_figs/MEOPgrd_2005-2009.npz
data_reproduce_figs/POP_topog.nc
data_reproduce_figs/POP-dzu_dzt_kzit_subsetSO.nc
data_reproduce_figs/Jb.npz
data_reproduce_figs/gradRHO.npz
